---
import FAQ from "../components/FAQElement.astro";
import Layout from "../layout/default.astro";
import Event from "../components/Event.astro";
import Sponsors from "../components/Sponsor.astro";
import { getEntry } from "astro:content";

const faq = (await getEntry("faq", "FAQ_list")).data
---

<Layout title="Home Page">

	<div class="flex justify-center">
		<div class="flex flex-col items-center justify-between w-85vw sm:flex-row">
			<div
				class="flex flex-col justify-center items-center mt-10 bg-light-apricot w-[80vw] rounded-2xl sm:w-[40vw]"
			>	
				<h1 class="text-[3.5vw] font-extrabold text-blanched-almond"> This is Eurohacks </h1>

				<p class="text-justify text-[1.7vw] my-[0vw] mx-[3vw] text-blanched-almond">
					EuroHacks is a Europe-wide hackathon, with multiple events all 
					happening at the same time. Everyone will have the opportunity 
					to create their own projects, meet other people from all over 
					Europe, have fun, and, of course, to win prizes! Find the 
					hackathon nearest to you and get more information about them here.
				</p>

				<a href="http://eurohacks.org/eurohacks" class="rounded-lg w-100% h-100%">
					<div class="question flex flex-row justify-center bg-[#FFE6A7] text-dark-gray font-semibold text-[2vw] rounded-[1.5vw] py-[1.5vw] my-[2vw] mx-[1.5vw] px-[1.5vw] w-fit duration-700 border-none cursor-default text-center hover:bg-golden-sand"> 
						<div> Learn more: Read our vision </div>
					</div>
				</a>

			</div>
		
			
			<div class="flex flex-col justify-center items-center mt-12 w-[40vw] rounded-2xl">
		
				<img src="../../hackathon.png" class="object-contain w-[50vw] rounded-xl">

				<div class="text-black text-2xl max-w-[90%] w-full flex flex-col items-center justify-center">

					<div class="w-[100%] flex flex-row justify-between items-center text-[1.5vw] my-[1vw]">
						<div> <i class="fa-solid fa-calendar-days"></i> 12.07.2025 - 13.07.2025 </div>
						<div> <i class="fa-solid fa-clock"></i> 24 hours of hacking </div>
					</div>

					<div> <i class="fa-solid fa-location-dot"></i> 6 events all over Europe </div>

				</div>
			</div>
		</div>
	</div>
	<div class="flex flex-col items-center">
		<h1 class="text-light-apricot text-[3.2vw] text-left w-85vw mt-[8vw]">
			Join us in...
		</h1>
	</div>

		<div class="overflow-hidden relative my-[10vh]">
			<div class="carousel flex flex-row w-max">
				<Event city="Munich"        country="Germany"   image="../../Munich.jpg"/>
				<Event city="Bydgoszcz"    	country="Poland"    image="../../Bydgoszcz.jpg"/>
				<Event city="Madrid"        country="Spain"     image="../../Madrid.jpg"/>
				<Event city="London"        country="UK"        image="../../London.jpg"/>
				<Event city="Thessaloniki"  country="Greece"    image="../../Thessaloniki.jpg"/>
				<Event city="Milan"         country="Italy"     image="../../Milan.jpg"/>
			</div>
		</div>

	<div class="pt-6 flex flex-col items-center">
		<h1 class="text-left w-85vw text-light-apricot text-[3.2vw] mb-4">
			FAQ (Frequently Asked Questions)
		</h1>

		<FAQ
			question = 	{faq.questions[0].question}
			answer = 	{faq.questions[0].answer}
		/>

		<FAQ
			question = 	{faq.questions[1].question}
			answer = 	{faq.questions[1].answer}
		/>

		<FAQ
			question = 	{faq.questions[2].question}
			answer = 	{faq.questions[2].answer}
		/>

		<FAQ
			question = 	{faq.questions[3].question}
			answer = 	{faq.questions[3].answer}
		/>

		<FAQ
			question = 	{faq.questions[4].question}
			answer = 	{faq.questions[4].answer}
		/>

		<FAQ
			question = 	{faq.questions[5].question}
			answer = 	{faq.questions[5].answer}
		/>

		<FAQ
			question = 	{faq.questions[6].question}
			answer = 	{faq.questions[6].answer}
		/>	

		<br />
	</div>

	<!-- 	Sponsor's section, not yet finished 

	
		<h1 class="text-center w-[100vw] text-light-apricot text-8xl font-bold mb-4 flex justify-center my-[4vh]">
			Our Sponsors
		</h1>

		<div class="overflow-hidden relative my-[10vh]">
			<div class="carousel flex flex-row w-max">
				<Sponsors 	image="../../test-photo.png"/>
				<Sponsors	image="../../test-photo.png"/>
				<Sponsors	image="../../test-photo.png"/>
				<Sponsors	image="../../test-photo.png"/>
				<Sponsors	image="../../test-photo.png"/>
				<Sponsors	image="../../test-photo.png"/>
			</div>
		</div>
	-->

	<style>

		@media screen and (max-width: 600px) {
			.paragraph {
				flex-direction: column;
			}

		}

		.carousel {
			animation: scroll 60s linear infinite;
		}
		
		@keyframes scroll {
			from {
				transform: translateX(0);
			}
			to {
				transform: translateX(-50%);
			}
		}

	</style>
		
		
		<script>
		const carousel = document.querySelector('.carousel');
		
		// Duplicate the content of the carousel
		const carouselImages = [...carousel.children];
		carouselImages.forEach((img) => {
			const clone = img.cloneNode(true);
			carousel.appendChild(clone);
		});

	</script>
</Layout>
