---
let { city, discordlink, telephone, country, countrytitle, image } = Astro.props
---

<div class="hackathon-card">
    <div class="same-line-hackathons-cards"> 
        <div class="left-half-hackathons-cards">
            <div class="flag-country">
                <img src={image} width="90px" height="64px">
                <div class="country"> {countrytitle} </div>
            </div>
            <div class="contact-info">
                <br> <i class="fa-solid fa-envelope"></i> Mail: {country}@eurohakcs.org
                <br> <i class="fa-solid fa-phone"></i> Telephone: {telephone}
                <br> <i class="fa-brands fa-discord"></i> Discord/Slack: {discordlink}
            </div>
        </div>

        <div class="right-half-hackathons-cards">
            <h1 class="city"> <i class="fa-solid fa-location-dot"> </i> {city} </h1>
            <div class="buttons">
                <a> <button> <i class="fa-solid fa-circle-info" id="button-icons"> </i> More information </button> </a>
                <a> <button> <i class="fa-solid fa-user" id="button-icons"> </i> Participate </button> </a>
            </div>
        </div>
    </div>
</div>

<style>
    * {
        font-weight: 700;
    }
    .hackathon-card{
        background-color: #2E548E;
        width: 90vw;
        margin: 5vw 4vw;
        border-radius: 15px;
        justify-content: center;
    }

    .same-line-hackathons-cards{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .left-half-hackathons-cards {
        display: flex;
        flex-direction: column;
    }
    .right-half-hackathons-cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .flag-country {
        display: flex;
        flex-direction: row;
        margin: 10px 10px;
        color: #FFF2DE;
    }

    .buttons {
        display: flex;
        justify-content: end;
        align-items: end;
        margin: 30px 10px 10px 10px;
        font-size: 42px;
    }
    button {
        height: 160px;
        width: 360px;
        font-size: 42px;
        margin: 0px 10px;
        margin-top: 60px;
        margin-bottom: -20px;
        background-color: #76ADFF;
        border-radius: 10px;
    }
    button:hover {
        height: 160px;
        width: 360px;
        font-size: 42px;
        background-color: #99C2FF;
        border-radius: 10px;
    }
    button:active {
        height: 160px;
        width: 360px;
        font-size: 42px;
        background-color: #D3E4FF;
        border-radius: 10px;
    }
    .city {
        color: #FFF2DE;
        display: flex;
        font-size: 42px;
        justify-content: end;
        margin-right: 10%;
    }
    .country {
        font-size: 60px;
        margin: 0px 20px;
    }
    .contact-info {
        color: #FFF2DE;
        font-size: 38px;
        margin: 10px 20px;
    }

    i {
        margin-right: 6px;
    }

    #button-icons {
        display: flex;
        flex-direction: column;
        align-items: start;
        transform: translateY(-60%);
    }
</style>