---
let { city, discordlink, telephone, country, countrytitle, image, rsvp_page, info_page, background} = Astro.props
---

<div class="hackathon-card font-bold bg-div-bg w-[90vw] my-[4vw] mx-5vw rounded-2xl">

    <div class="flex flex-row justify-evenly w-[90vw]">

        <div class="flex flex-col justify-around items-center mt-[1.5vw]">

            <div class="flex flex-row items-center justify-between text-header">
                <img src={image} class="w-[5vw] h-[5vw]">
                <div class="text-[4vw] mt-[1.5vw] ml-[1vw]"> {countrytitle} </div>
            </div>

            <div class="text-[2vw] my-[2vw] text-paragraph-text flex flex-col items-start">

                <div> <i class="fa-solid fa-envelope    mr-2 mb-[1vw]"> </i> Mail: {country}@eurohacks.org </div>
                <div> <i class="fa-solid fa-phone       mr-2 my-[1vw]"> </i> Telephone: {telephone}        </div>
                <div> <i class="fa-brands fa-discord    mr-2 mt-[1vw]"> </i> Discord/Slack: {discordlink}  </div>

            </div>

        </div>

        <div class="flex flex-col justify-around items-center">

            <div class="flex flex-row text-header"> 
                <h1 class="flex flex-row text-[3vw]"> <i class="fa-solid fa-location-dot mr-3"> </i> {city} </h1>
            </div>

            <div class="flex flex-row justify-evenly">

                <a href={info_page}>

                    <button class="h-[10vw] w-[24vw] text-[2.5vw] mx-3 bg-button-bg rounded-xl hover:bg-button-bg-hover"> 
                        <div class="button-icons flex flex-col items-start ml-[2%] mt-[6%]"> <i class="fa-solid fa-circle-info" id="button-icons"> </i> </div> More information 
                    </button> 

                </a>
                
                <a href={rsvp_page}> 
                    <button class="h-[10vw] w-[24vw] text-[2.5vw] mx-3 bg-button-bg rounded-xl hover:bg-button-bg-hover cursor-not-allowed" disabled> 
                        <div class="button-icons flex flex-col items-start ml-[2%] mt-[9%]"> <i class="fa-solid fa-user"> </i> </div> Participate 
                    </button> 
                </a>

            </div>
        </div>
    </div>
</div>


<style define:vars={{ image: `url("${background}")` }}>
    .hackathon-card {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background: 
            linear-gradient(to right, #F5C99F 38%, rgba(0, 0, 0, 0.1) 100%),
            var(--image);
        background-size: 100% 100%, cover;
        background-position: right center;
        background-repeat: no-repeat;
        resize: horizontal;
    }
    .button-icons {
        transform: translateY(-80%);
    }
</style>