---
import Layout from "../../../layout/default.astro"; 
import OrganizerCard from "../../../components/OrganizerElement.astro";
import { getEntry } from "astro:content";

export function getStaticPaths() {
  return [
    {params: {country: 'greece'}},
    {params: {country: 'uk'}}
  ];
}

const { country } = Astro.params;

const event = (await getEntry('events', country)).data
const eventOrganizers = await Promise.all(event.organizers.map(
  async (organizer: string) => (await getEntry('organizers', organizer)).data)
)

let translation = Astro.url.searchParams.get("lang"); //add this for English: ?lang=en
if (translation != "en") translation = "origin";
---

<Layout title="Greek Event">



    <div class="flex justify-center my-3">
      <div class="flex flex-col justify-center items-center mt-12 bg-frosted-blue w-80vw rounded-2xl">

          <div class="flex flex-row justify-center items-center rounded-2xl h-fit w-80vw">
              <img src="../../../public/head_organizing_team.png" width="80px" class="mr-6 mt-2">
              <h1 class="text-5xl font-bold"> {event.lang[translation].organizers}  </h1>
          </div>

          <div class="flex flex-row justify-evenly mt-3">
            {eventOrganizers.map(
              organizer => <OrganizerCard
              name={organizer.lang[translation].fullname}
              paragraph={organizer.lang[translation].description}
              country_image={organizer.country}
              image={organizer.thumb}
            />)}
          </div>

          <br>
      </div>
  </div>

  <div class="flex justify-center my-3">
    <div class="flex flex-col justify-start mt-12 bg-frosted-blue w-80vw rounded-2xl">

      <div class="flex flex-row justify-center items-center rounded-2xl h-fit w-80vw">
        <img src="/info.png" width="80px" class= "mr-6 mt-2">
        <h1 class="text-5xl font-bold">{event.lang[translation].info.header}</h1>
      </div>
      
      <br>
      <div class="flex flex-row items-center justify-start ml-4vw"> 
        <div class="mr-1vw"> <i class="fa-solid fa-location-dot fa-2xl"></i> </div> <h2 class="text-4xl"> {event.lang[translation].info.place} {event.info.location} </h2> 
      </div>
      <br>

      <br>
      <div class="flex flex-row items-center justify-start ml-4vw"> 
        <div class="mr-1vw"> <i class="fa-solid fa-clock fa-2xl"></i> </div> <h2 class="text-4xl"> {event.lang[translation].info.dates} {event.info.dates} </h2> 
      </div>
      <br>

      <br>
      <div class="flex flex-row items-center justify-start ml-4vw"> 
        <div class="mr-1vw"> <img src="../../../../public/participants.png" class="w-9"> </div> <h2 class="text-4xl"> {event.lang[translation].info.participants} {event.info.participants} </h2> 
      </div>
      <br>

      <br>
      <div class="flex flex-row items-center justify-start ml-4vw"> 
        <div class="mr-1vw"> <img src="../../../../public/zoom.png" class="w-9"> </div> <h2 class="text-4xl"> {event.lang[translation].info.zoom} {event.info.zoom}</h2> 
      </div>
      <br>

      <br>
      <div class="flex flex-row items-center justify-start ml-4vw"> 
        <div class="mr-1vw"> <i class="fa-solid fa-envelope fa-2x"></i> </div> <h2 class="text-4xl"> {event.lang[translation].info.contact.email}  {event.info.contact.email}</h2> 
      </div>
      <br>

      <br>
      <div class="flex flex-row items-center justify-start ml-4vw"> 
        <div class="mr-1vw"> <i class="fa-solid fa-phone fa-2x"></i> </div> <h2 class="text-4xl"> {event.lang[translation].info.contact.phone}  {event.info.contact.phone}</h2> 
      </div>
      <br>
    </div>
  </div>
  
  <br>

  <div class="flex items-center justify-evenly my-3">
    <div class="flex flex-col justify-center mt-12 bg-frosted-blue w-35vw rounded-2xl">
      
      <div class="flex flex-row items-center justify-center">
        <img src="../../../../public/announcments.png" class="w-5vw mt-4 ml-4">
        <h2 class="flex items-center text-5xl font-semibold text-golden-sand mt-3 w-30vw justify-center text-center"> {event.lang[translation].announcements.header} </h2>
      </div>

      <p class="text-justify text-3xl my-4 mx-8"> 
        
        {event.lang[translation].announcements.data}

      </p>
    </div>


    <div class="flex flex-col justify-center mt-12 bg-frosted-blue w-35vw rounded-2xl">

      <div class="flex flex-row items-center justify-center">
        <img src="../../../../public/food.png" class="w-5vw mt-4 ml-4">
        <h2 class="flex items-center text-5xl font-semibold text-golden-sand mt-3 w-30vw justify-center text-center"> {event.lang[translation].food.header} </h2>
      </div>

      <p class="text-justify text-3xl my-4 mx-8"> 
        
        {event.lang[translation].food.data}
      
      </p>
    </div>
  </div>

  <div class="flex justify-evenly items-start my-3">
    <div class="flex flex-col justify-center mt-12 bg-frosted-blue w-35vw rounded-2xl">
      
      <div class="flex flex-row items-center justify-center">
        <img src="../../../../public/staying.png" class="w-5vw mt-4 ml-4">
        <h2 class="flex items-center text-5xl font-semibold text-golden-sand mt-3 w-30vw justify-center text-center"> {event.lang[translation].stay.header} </h2>
      </div>

      <p class="text-justify text-3xl my-4 mx-8"> 
        
        {event.lang[translation].stay.data}
      
      </p>
    </div>

    
    <div class="flex flex-col justify-center mt-12 bg-frosted-blue w-35vw h-fit rounded-2xl">

      <div class="flex flex-row items-center justify-center">
        <img src="../../../../public/transportation.png" class="w-5vw mt-4 ml-4">
        <h2 class="flex items-center text-5xl font-semibold text-golden-sand mt-3 w-30vw justify-center text-center"> {event.lang[translation].transit.header} </h2>
      </div>

      <p class="text-justify text-3xl my-4 mx-8"> 
          
        {event.lang[translation].transit.data}

      </p>
    </div>
  </div>
  <br>
</Layout>